In [1]:
import pandas as pd

In [20]:
names = ['a', 'b', 'c', 'd', 'message']

In [19]:
test = pd.read_csv('ex1.csv', index_col='message')
test

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [21]:
test1 = pd.read_csv('ex2.csv', names=names, index_col='message')
test1

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
test1.loc['foo']

a     9
b    10
c    11
d    12
Name: foo, dtype: int64

In [10]:
pd.read_table('ex1.csv')

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

In [13]:
test2 = pd.read_table('ex1.csv', sep=',')
test2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
test2.loc[1]

a              5
b              6
c              7
d              8
message    world
Name: 1, dtype: object

In [24]:
result = pd.read_csv('ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [29]:
result = pd.read_csv('ex6.csv', nrows=10)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

In [40]:
import csv
f = open('ex7.csv')
reader = csv.reader(f)
reader

In [41]:
for lines in reader:
    print(line)

['1', '2', '3']
['1', '2', '3']
['1', '2', '3']

In [44]:
with open('ex7.csv') as f:
    lines = list(csv.reader(f))

In [45]:
header, values = lines[0], lines[1:]

In [46]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}